.home-page {
  --background: #FCFC30;

  .profile-button-container {
    position: absolute;
    top: var(--ion-safe-area-top, 10px);
    top: 10px;
    right: 5px;
    z-index: 100;
  }

  .profile-button-standalone {
    padding: 0;
    margin: 0;
    width: 75px;
    height: 75px;
    --border-radius: 50%;
    --background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-avatar.profile-avatar-standalone {
      width: 45px;
      height: 45px;

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }

  .top-wave {
    background: #FCFC30;
    height: 160px;
    border-bottom-left-radius: 60% 20%;
    border-bottom-right-radius: 60% 20%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .greeting {

    margin-top: 70px;
    padding: 0 30px;

    h2 {
      font-weight: bold;
      color: #465EFF;
      font-size: 28px;
      margin-bottom: 6px;
    }

    p {
      color: #465EFF;
      font-size: 18px;
      margin: 0;
    }
  }

  .validate-section {
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 20px;

    .validate-text {
      font-weight: 500;
      color: #465EFF;
      font-size: 18px;
      text-align: center;
    }

    .validate-button {
      --background: #465EFF;
      --color: white;
      border-radius: 12px;
      font-weight: bold;
      width: 200px;
      height: 55px;
      font-size: 18px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

  .bottom-logo {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 50px;
    height: 50px;
  }
}