<!-- <ion-header >
  <ion-toolbar>
    <ion-title>Recuperar Conta</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <img src="../../../assets/Rectangle 1.svg" alt="bg color" class="bg-title" />
  <div class="body">
    <div class="title-container">
      <h1 class="title">Recuperar Conta</h1>
      <img src="../../../assets/traced_image.svg" alt="Logo BB" class="logo" />
    </div>

    <div class="input-container">
      <ion-label class="label" position="floating">E-mail</ion-label>
      <ion-input
        class="input"
        type="email"
        placeholder="Digite seu e-mail"
        [(ngModel)]="email"
      ></ion-input>

      <ion-label class="label" position="floating">Nova Senha</ion-label>
      <ion-input
        class="input"
        type="password"
        placeholder="Digite sua nova senha"
        [(ngModel)]="novaSenha"
      ></ion-input>

      <ion-label class="label" position="floating"
        >Confirme sua senha</ion-label
      >
      <ion-input
        class="input"
        type="password"
        placeholder="Confirme sua senha"
        [(ngModel)]="confirmarSenha"
      ></ion-input>
    </div>

    <div class="button-container">
      <ion-button
        expand="block"
        (click)="recuperarSenha()"
        [disabled]="formInvalido()"
      >
        Recuperar senha
      </ion-button>

      <ion-button (click)="irParaLogin()" expand="block">
        Cancelar
      </ion-button>
    </div>
  </div>
</ion-content>
